# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ignore all virtual environments
venv/
.venv/
*.venv/
*venv/
**/venv/
**/venv*/
**/venv/**
**/venv*/
**/venv/**

.env
*.env
**/.env

# every form of pycache__ files in anny folder

**/__pycache__/
**/__pycache__/*
**/pycache/
**/pycache/*

# ignore all files with .pyc extension
*.pyc

# ignore all files with .pyo extension
*.pyo

# ignore all files with .pyd extension
*.pyd

# ignore all files with .pyi extension
*.pyi