services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: fastbites-backend
    ports:
      - "8004:8004"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
