@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 min-w-[320px] min-h-screen overflow-x-hidden;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}
