@import "tailwindcss";

@layer base {
  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}
